*{
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
}
.text-center{
    text-align: center;
}
.text-white{
    color: white;
}
.bg-violet{
    background-color: blueviolet;
}
.main-color{
    color: blueviolet;
}
.item-link{
    text-decoration: none;
    color: black;
    transition: all .5s ease-in;
}
.item-link:hover{
    cursor: pointer;
    letter-spacing: 0.5px;
}
.font-small{
    font-size: 12px;
}
.bg-opacity{
    opacity: 0.5;
}
.border-none{
    border: navajowhite;
}
button{
    transition: all 0.5s ease-in;
    cursor: pointer;
}
button:hover{
    transform: scale(1.02);
}

.item-link:hover{
    color: blueviolet;
}
.item-link::after{
    content: '';
    background-color: blueviolet;
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    transition: all 0.5s ease-in;
}
.item-link:hover::after{
    width: 100%;
}
.container{
    margin:0 auto;
    width: 80%;
}
.fixed-clear{
    clear: both;
}

header{ 
    padding: 10px 0;
     background-color: rgb(240, 240, 240);
}
header .logo {
    float:left ;
    width: 25%; 
}
.logo img{
    margin-right: 5px;
    padding: 4px;
    border-radius: 5px;
    background-color: blueviolet;
    float: left;
}
header nav{ 
    margin-top: 10px; 
    float: right; 
}
ul{ 
    list-style: none; 
}
nav ul li{
    float: left;
    margin: auto 10px; 
}




.home .box{
    float: left;
    width: 45%;
}
.home figure{
    border: 2px solid rgba(128, 128, 128, 0.79);
    border-radius: 20px;
    padding: 20px; 
}
.home figure img{
    width: 100%;  
    height: 300px;
    border-radius: 20px; 
}
.home button img{
    width: 20px;
    height: 16px; 
    vertical-align: middle;
}
.box.box_right{
    float: right;
    width: 50%;
    padding: 10px 0;
}
.box_right .marked button{
    padding: 2px 4px;
    border-radius: 8px;
    margin:8px 0; 
}
.box_right .wrapper-text h2{
    margin: 5px 0;
}
.box_right .wrapper-text article{
    line-height: 1.5;
}
.box_right .wrapper-text .price{
    margin: 8px 0;
}
.box_right .wrapper-text .price .current{
    font-size: 18px;
    font-weight: 800;
    margin-right: 5px;
}
.box_right .wrapper-text .price button{
    color: red;
    border-radius: 20px;
    background-color: rgba(255, 0, 0, 0.2);
    padding: 2px 4px;
}
.box_right .wrapper-text p{
    margin: 10px 0;
}
.box_right .shop-btns button{
    width: 100%;
    margin: 5px 0;
    padding: 12px 0;
    border-radius: 20px;
    
}


.special{
    background-color: rgb(240, 240, 240);
    padding: 20px 0;
}
.special .box{
    float: left;
    padding: 20px;
    width: 25%; 
}
.special .box .data{
    padding: 20px;
    border-radius: 20px;
    border: 2px solid gray; 
    position: relative;
}
.special .box figure img{
    height: 120px;
    width: 100%;
    border-radius: 20px;
}
.special .box figure span{
    position: absolute;
    top: 30px;
    left: 30px;
    padding: 2px 4px;
    border-radius: 20px;
}
.special .box h3{
    margin: 8px 0;
}
.special .box p{
    line-height: 1.3;
}
.special .box .info{
    margin-top: 15px ;
}
.special .box .info span{
    font-size: 18px;
    font-weight: 700;
}
.special .box .info button{
    padding: 8px;
    border-radius: 20px;
    float: right;
}
.special .btn-viewAll{
    border: 2px solid blueviolet;
    border-radius: 20px;
    padding: 8px;
}
 
 

.reviews .content{
    margin: 20px 0 40px 0; 
}
.reviews .box_left{ 
    margin-top: 20px;
    position: sticky;
    top: 80px;
    float: left;
    width:fit-content;
    border: 1px solid gray ;
    padding: 20px ;
    border-radius: 20px;
}
.reviews .box_left .analysis{
    padding: 8px 0;
     border-top: 1px solid gray;
     margin: 10px 0;
}
.reviews .box_left .analysis div{
    float: left;
    margin: 0 4px;
}
.reviews .box_right{
    float: right; 
    width: 74%;

}
.reviews .box_right .comment{
    border: 1px solid gray;
    padding: 20px;
    border-radius: 20px;
    margin: 20px 0;
}
.reviews .box_right .comment img{
    border-radius: 50%;
}
.reviews .box_right .profile{
    margin: 10px 0;
}
.reviews .box_right button{
    padding: 2px 5px;
    margin-bottom: 5px;
    border-radius: 20px;
}
.reviews .box_right article{
    line-height: 1.5;
}
.reviews .box_right div:last-child button{  
    padding: 8px;
}



footer{ 
    padding: 40px 0;
    background-color: #000;
    color: white !important;
}
footer a{
    color: white !important;
}
footer .box{
    width: 25%;
    margin: auto ;
    float: left;
}
footer .box:first-child img,footer .box:first-child h3{
    float: left; 
}
footer .box h3{
    margin: 8px 0;
}
footer .box li{
    margin: 5px 0;
}
